body
{
   border-width: 0 !important;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
.visibility-hidden
{
   visibility: hidden;
}
.wb-theme-header
{
   background-color: #817865;
   background-image: none;
   border: 1px solid #494437;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(129,120,101,1.00);
   --border-color: #494437;
   --border-width: 1px;
   --color: #FFFFFF;
}
.wb-theme-content
{
   background-color: #FEEEBD;
   background-image: none;
   border: 1px solid #8E846B;
   border-radius: 0px;
   color: #383838;
   --background-color: rgba(254,238,189,1.00);
   --border-color: #8E846B;
   --border-width: 1px;
   --color: #383838;
   --icon-color: #D19405;
   --colorize: invert(45%) sepia(84%) saturate(1669%) hue-rotate(22deg) brightness(109%) contrast(96%);
}
.wb-theme-button, .wb-theme-static
{
   background-color: #FECE2F;
   background-image: none;
   border: 1px solid #D19405;
   border-radius: 0px;
   color: #4C3000;
   --background-color: rgba(254,206,47,1.00);
   --border-color: #D19405;
   --border-width: 1px;
   --color: #4C3000;
}
.wb-theme-button:hover
{
   background-color: #FFDD57;
   background-image: none;
   border: 1px solid #A45B13;
   border-radius: 0px;
   color: #381F00;
   --background-color: rgba(255,221,87,1.00);
   --border-color: #A45B13;
   --border-width: 1px;
   --color: #381F00;
}
.wb-theme-button.active, .wb-theme-button:active, .active > .wb-theme-button
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #655E4E;
   border-radius: 0px;
   color: #0074C7;
   --background-color: rgba(255,255,255,1.00);
   --border-color: #655E4E;
   --border-width: 1px;
   --color: #0074C7;
}
.darktheme .wb-theme-header
{
   background-color: #817865;
   background-image: none;
   border: 1px solid #494437;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(129,120,101,1.00);
   --border-color: #494437;
   --border-width: 1px;
   --color: #FFFFFF;
}
.darktheme .wb-theme-content
{
   background-color: #FEEEBD;
   background-image: none;
   border: 1px solid #8E846B;
   border-radius: 0px;
   color: #383838;
   --background-color: rgba(254,238,189,1.00);
   --border-color: #8E846B;
   --border-width: 1px;
   --color: #383838;
   --icon-color: #D19405;
   --colorize: invert(71%) sepia(29%) saturate(7486%) hue-rotate(12deg) brightness(96%) contrast(96%);
}
.darktheme .wb-theme-button, .darktheme .wb-theme-static
{
   background-color: #FECE2F;
   background-image: none;
   border: 1px solid #D19405;
   border-radius: 0px;
   color: #4C3000;
   --background-color: rgba(254,206,47,1.00);
   --border-color: #D19405;
   --border-width: 1px;
   --color: #4C3000;
}
.darktheme .wb-theme-button:hover
{
   background-color: #FFDD57;
   background-image: none;
   border: 1px solid #A45B13;
   border-radius: 0px;
   color: #381F00;
   --background-color: rgba(255,221,87,1.00);
   --border-color: #A45B13;
   --border-width: 1px;
   --color: #381F00;
}
.darktheme .wb-theme-button.active, .darktheme .wb-theme-button:active, .active > .wb-theme-button
{
   background-color: #655E4E;
   background-image: none;
   border: 1px solid #655E4E;
   border-radius: 0px;
   color: #EB990F;
   --background-color: rgba(101,94,78,1.00);
   --border-color: #655E4E;
   --border-width: 1px;
   --color: #EB990F;
}
#wb_headerLayoutGrid
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#headerLayoutGrid
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#headerLayoutGrid > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#headerLayoutGrid > .col-1
{
   flex: 0 0 auto;
}
#headerLayoutGrid > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 100%;
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: center;
   text-align: center;
}
@media (max-width: 320px)
{
#headerLayoutGrid > .col-1
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_Image1
{
   margin: 20px 0 50px 0 ;
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   display: inline-block;
   width: 342px;
   height: 129px;
   vertical-align: top;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 10px 0 15px 0;
   text-align: center;
}
#Heading1
{
   color: #4F4F4F;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: center;
   text-transform: none;
}
#PhotoGallery1
{
   box-sizing: border-box;
   font-size: 0;
   width: 100%;
   height: 100%;
   table-layout: fixed;
   display: table;
   margin: 0;
}
#PhotoGallery1 .thumbnails
{
   margin: 0;
}
#PhotoGallery1 .thumbnail
{
   position: relative;
   min-height: 1px;
   box-sizing: border-box;
   float: left;
   padding: 3px 3px 3px 3px;
   width: 33.33333333%;
   text-align: center;
   vertical-align: top;
}
#PhotoGallery1 .thumbnail img
{
   border: 0px #8E846B solid;
   box-sizing: border-box;
   border-radius: 0px;
}
#PhotoGallery1 .clearfix:before,
#PhotoGallery1 .clearfix:after,
#PhotoGallery1 .thumbnails:before,
#PhotoGallery1 .thumbnails:after
{
   display: table;
   content: " ";
}
#PhotoGallery1 .clearfix:after,
#PhotoGallery1 .thumbnails:after
{
   clear: both;
}
#PhotoGallery1 .visible-col3
{
   display: block;
}
#PhotoGallery1_img0
{
   width: 180px;
   height: 180px;
}
#PhotoGallery1_img1
{
   width: 180px;
   height: 180px;
}
#PhotoGallery1_img2
{
   width: 180px;
   height: 180px;
}
#PhotoGallery1_img3
{
   width: 180px;
   height: 180px;
}
#PhotoGallery1_img4
{
   width: 180px;
   height: 180px;
}
#PhotoGallery1_img5
{
   width: 180px;
   height: 180px;
}
#PhotoGallery1_img6
{
   width: 180px;
   height: 180px;
}
#PhotoGallery1_img7
{
   width: 180px;
   height: 180px;
}
#PhotoGallery1_img8
{
   width: 180px;
   height: 180px;
}
#PhotoGallery1_img9
{
   width: 180px;
   height: 180px;
}
#PhotoGallery1_img10
{
   width: 180px;
   height: 180px;
}
#PhotoGallery1_img11
{
   width: 180px;
   height: 180px;
}
#PhotoGallery1_img12
{
   width: 180px;
   height: 180px;
}
#PhotoGallery1_img13
{
   width: 180px;
   height: 180px;
}
#wb_LayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid2
{
   box-sizing: border-box;
   padding: 70px 15px 70px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#LayoutGrid2 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid2 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid2 > .row > .col-1
{
   float: left;
}
#LayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#LayoutGrid2 > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 10px 0 10px 0;
}
#LayoutGrid2:before,
#LayoutGrid2:after,
#LayoutGrid2 .row:before,
#LayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid2:after,
#LayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid2 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
