body
{
   border-width: 0 !important;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
.visibility-hidden
{
   visibility: hidden;
}
.wb-theme-header
{
   background-color: #817865;
   background-image: none;
   border: 1px solid #494437;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(129,120,101,1.00);
   --border-color: #494437;
   --border-width: 1px;
   --color: #FFFFFF;
}
.wb-theme-content
{
   background-color: #FEEEBD;
   background-image: none;
   border: 1px solid #8E846B;
   border-radius: 0px;
   color: #383838;
   --background-color: rgba(254,238,189,1.00);
   --border-color: #8E846B;
   --border-width: 1px;
   --color: #383838;
   --icon-color: #D19405;
   --colorize: invert(53%) sepia(21%) saturate(4076%) hue-rotate(18deg) brightness(103%) contrast(96%);
}
.wb-theme-button, .wb-theme-static
{
   background-color: #FECE2F;
   background-image: none;
   border: 1px solid #D19405;
   border-radius: 0px;
   color: #4C3000;
   --background-color: rgba(254,206,47,1.00);
   --border-color: #D19405;
   --border-width: 1px;
   --color: #4C3000;
}
.wb-theme-button:hover
{
   background-color: #FFDD57;
   background-image: none;
   border: 1px solid #A45B13;
   border-radius: 0px;
   color: #381F00;
   --background-color: rgba(255,221,87,1.00);
   --border-color: #A45B13;
   --border-width: 1px;
   --color: #381F00;
}
.wb-theme-button.active, .wb-theme-button:active, .active > .wb-theme-button
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #655E4E;
   border-radius: 0px;
   color: #0074C7;
   --background-color: rgba(255,255,255,1.00);
   --border-color: #655E4E;
   --border-width: 1px;
   --color: #0074C7;
}
.darktheme .wb-theme-header
{
   background-color: #817865;
   background-image: none;
   border: 1px solid #494437;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(129,120,101,1.00);
   --border-color: #494437;
   --border-width: 1px;
   --color: #FFFFFF;
}
.darktheme .wb-theme-content
{
   background-color: #FEEEBD;
   background-image: none;
   border: 1px solid #8E846B;
   border-radius: 0px;
   color: #383838;
   --background-color: rgba(254,238,189,1.00);
   --border-color: #8E846B;
   --border-width: 1px;
   --color: #383838;
   --icon-color: #D19405;
   --colorize: invert(69%) sepia(44%) saturate(3935%) hue-rotate(7deg) brightness(91%) contrast(96%);
}
.darktheme .wb-theme-button, .darktheme .wb-theme-static
{
   background-color: #FECE2F;
   background-image: none;
   border: 1px solid #D19405;
   border-radius: 0px;
   color: #4C3000;
   --background-color: rgba(254,206,47,1.00);
   --border-color: #D19405;
   --border-width: 1px;
   --color: #4C3000;
}
.darktheme .wb-theme-button:hover
{
   background-color: #FFDD57;
   background-image: none;
   border: 1px solid #A45B13;
   border-radius: 0px;
   color: #381F00;
   --background-color: rgba(255,221,87,1.00);
   --border-color: #A45B13;
   --border-width: 1px;
   --color: #381F00;
}
.darktheme .wb-theme-button.active, .darktheme .wb-theme-button:active, .active > .wb-theme-button
{
   background-color: #655E4E;
   background-image: none;
   border: 1px solid #655E4E;
   border-radius: 0px;
   color: #EB990F;
   --background-color: rgba(101,94,78,1.00);
   --border-color: #655E4E;
   --border-width: 1px;
   --color: #EB990F;
}
#wb_headerLayoutGrid
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#headerLayoutGrid
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#headerLayoutGrid > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#headerLayoutGrid > .col-1
{
   flex: 0 0 auto;
}
#headerLayoutGrid > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 100%;
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: center;
   text-align: center;
}
@media (max-width: 320px)
{
#headerLayoutGrid > .col-1
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#Button1
{
   box-sizing: border-box;
   line-height: 40px;
   text-decoration: none;
   vertical-align: top;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
   padding: 0;
   text-align: center;
   -webkit-appearance: none;
   margin: 0 0 25px 0 ;
}
#Button1:focus
{
   outline: 0;
}
#wb_Image1
{
   margin: 20px 0 50px 0 ;
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   display: inline-block;
   width: 342px;
   height: 129px;
   vertical-align: top;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 10px 0 15px 0;
   text-align: center;
}
#Heading1
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: center;
   text-transform: none;
}
#Button2
{
   box-sizing: border-box;
   line-height: 40px;
   text-decoration: none;
   vertical-align: top;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
   padding: 0;
   text-align: center;
   -webkit-appearance: none;
   margin: 0 0 10px 0 ;
}
#Button2:focus
{
   outline: 0;
}
#Button3
{
   box-sizing: border-box;
   line-height: 40px;
   text-decoration: none;
   vertical-align: top;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
   padding: 0;
   text-align: center;
   -webkit-appearance: none;
   margin: 0 0 10px 0 ;
}
#Button3:focus
{
   outline: 0;
}
#Button4
{
   box-sizing: border-box;
   line-height: 40px;
   text-decoration: none;
   vertical-align: top;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
   padding: 0;
   text-align: center;
   -webkit-appearance: none;
   margin: 0 0 10px 0 ;
}
#Button4:focus
{
   outline: 0;
}
#Button5
{
   box-sizing: border-box;
   line-height: 40px;
   text-decoration: none;
   vertical-align: top;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
   padding: 0;
   text-align: center;
   -webkit-appearance: none;
   margin: 0 0 25px 0 ;
}
#Button5:focus
{
   outline: 0;
}
#wb_Heading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 10px 0 15px 0;
   text-align: center;
}
#Heading2
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: center;
   text-transform: none;
}
#wb_Heading3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 10px 0 15px 0;
   text-align: center;
}
#Heading3
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: center;
   text-transform: none;
}
#Button6
{
   box-sizing: border-box;
   line-height: 40px;
   text-decoration: none;
   vertical-align: top;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
   padding: 0;
   text-align: center;
   -webkit-appearance: none;
   margin: 0 0 10px 0 ;
}
#Button6:focus
{
   outline: 0;
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #000000;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   padding: 70px 15px 70px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#LayoutGrid1 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid1 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid1 > .row > .col-1
{
   float: left;
}
#LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#LayoutGrid1 > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 10px 0 10px 0;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid1 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
